[submodule "scripts/subword-nmt"]
	path = scripts/subword-nmt
	url = https://github.com/rsennrich/subword-nmt.git
	branch = master
[submodule "tools/flickr30k_entities"]
	path = tools/flickr30k_entities
	url = git@github.com:BryanPlummer/flickr30k_entities.git
